USE [master]
GO
/****** Object:  Database [TeckTalks]    Script Date: 09/22/2015 17:01:37 ******/
CREATE DATABASE [TeckTalks] ON  PRIMARY 
( NAME = N'TeckTalks', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TeckTalks.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TeckTalks_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TeckTalks_log.ldf' , SIZE = 4096KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TeckTalks].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TeckTalks]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 09/22/2015 17:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERS](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN_NAME] [varchar](50) NULL,
	[DISPLAY_NAME] [varchar](50) NULL,
	[TITLE] [varchar](50) NULL,
	[FIRST_NAME] [varchar](50) NULL,
	[LAST_NAME] [varchar](50) NULL,
	[EMAIL] [varchar](100) NULL,
	[STATUS] [int] NULL,
	[LAST_SUCCESS_LOGIN] [datetime] NULL,
	[LAST_FAIL_LOGIN] [datetime] NULL,
	[TOTAL_FAIL_LOGIN] [int] NULL,
	[CRTE_DT] [datetime] NULL,
	[CRTE_BY] [varchar](32) NULL,
	[UPD_DT] [datetime] NULL,
	[UPD_BY] [varchar](32) NULL,
	[DEL_FLG] [bit] NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAGS]    Script Date: 09/22/2015 17:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAGS](
	[TAG_ID] [int] IDENTITY(1,1) NOT NULL,
	[TEXT] [varchar](50) NOT NULL,
	[CRTE_DT] [datetime] NULL,
	[CRTE_BY] [varchar](32) NULL,
	[UPD_DT] [datetime] NULL,
	[UPD_BY] [varchar](32) NULL,
	[DEL_FLG] [bit] NULL,
 CONSTRAINT [PK_TAGS] PRIMARY KEY CLUSTERED 
(
	[TAG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[POSTS]    Script Date: 09/22/2015 17:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[POSTS](
	[POST_ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [varchar](50) NOT NULL,
	[CONTENT] [varchar](1000) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[CRTE_DT] [datetime] NULL,
	[CRTE_BY] [varchar](32) NULL,
	[UPD_DT] [datetime] NULL,
	[UPD_BY] [varchar](32) NULL,
	[DEL_FLG] [bit] NULL,
 CONSTRAINT [PK_POSTS] PRIMARY KEY CLUSTERED 
(
	[POST_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RATINGS]    Script Date: 09/22/2015 17:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RATINGS](
	[RATING_ID] [int] IDENTITY(1,1) NOT NULL,
	[STAR_RATING] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
	[POST_ID] [int] NOT NULL,
	[CRTE_DT] [datetime] NULL,
	[CRTE_BY] [varchar](32) NULL,
	[UPD_DT] [datetime] NULL,
	[UPD_BY] [varchar](32) NULL,
	[DEL_FLG] [bit] NULL,
 CONSTRAINT [PK_RATINGS] PRIMARY KEY CLUSTERED 
(
	[RATING_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[POST_TAGS]    Script Date: 09/22/2015 17:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[POST_TAGS](
	[POST_TAG_ID] [int] IDENTITY(1,1) NOT NULL,
	[POST_ID] [int] NOT NULL,
	[TAG_ID] [int] NOT NULL,
	[CRTE_DT] [datetime] NULL,
	[CRTE_BY] [varchar](32) NULL,
	[UPD_DT] [datetime] NULL,
	[UPD_BY] [varchar](32) NULL,
	[DEL_FLG] [bit] NULL,
 CONSTRAINT [PK_POST_TAGS] PRIMARY KEY CLUSTERED 
(
	[POST_TAG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_POSTS_POSTS]    Script Date: 09/22/2015 17:01:38 ******/
ALTER TABLE [dbo].[POSTS]  WITH CHECK ADD  CONSTRAINT [FK_POSTS_POSTS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[POSTS] CHECK CONSTRAINT [FK_POSTS_POSTS]
GO
/****** Object:  ForeignKey [FK_RATINGS_POSTS]    Script Date: 09/22/2015 17:01:38 ******/
ALTER TABLE [dbo].[RATINGS]  WITH CHECK ADD  CONSTRAINT [FK_RATINGS_POSTS] FOREIGN KEY([POST_ID])
REFERENCES [dbo].[POSTS] ([POST_ID])
GO
ALTER TABLE [dbo].[RATINGS] CHECK CONSTRAINT [FK_RATINGS_POSTS]
GO
/****** Object:  ForeignKey [FK_RATINGS_USERS]    Script Date: 09/22/2015 17:01:38 ******/
ALTER TABLE [dbo].[RATINGS]  WITH CHECK ADD  CONSTRAINT [FK_RATINGS_USERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[RATINGS] CHECK CONSTRAINT [FK_RATINGS_USERS]
GO
/****** Object:  ForeignKey [FK_POST_TAGS_POSTS]    Script Date: 09/22/2015 17:01:38 ******/
ALTER TABLE [dbo].[POST_TAGS]  WITH CHECK ADD  CONSTRAINT [FK_POST_TAGS_POSTS] FOREIGN KEY([POST_ID])
REFERENCES [dbo].[POSTS] ([POST_ID])
GO
ALTER TABLE [dbo].[POST_TAGS] CHECK CONSTRAINT [FK_POST_TAGS_POSTS]
GO
/****** Object:  ForeignKey [FK_POST_TAGS_TAGS]    Script Date: 09/22/2015 17:01:38 ******/
ALTER TABLE [dbo].[POST_TAGS]  WITH CHECK ADD  CONSTRAINT [FK_POST_TAGS_TAGS] FOREIGN KEY([TAG_ID])
REFERENCES [dbo].[TAGS] ([TAG_ID])
GO
ALTER TABLE [dbo].[POST_TAGS] CHECK CONSTRAINT [FK_POST_TAGS_TAGS]
GO
