<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   
</head>

<body>   
   
    <div class="container">
        <h1>TOPICS:-</h1>
        </br>
        <div ng-repeat="discussion in discussions">
            <div ng-click="getDetails(discussion.Topic)">{{discussion.Topic}}</div>
        </div>
        <div><h1> {{ContentDetails}} </h1></div>
        </br>
        <h2>{{TopicHeader}}</h2>
        <input type="checkbox" ng-model="showAddForm" />Add Review
        </br></br> {{showAddForm}}</br>

        <form class="form-group" ng-show="showAddForm">
            Topic : </br>
            <input class="form-control" type="text"  ng-model="TopicHeader" />

            </br>Content : </br>
            <input class="form-control" type="text" ng-model="TopicContent" />

            </br>SubmittedBy : </br>
            <input class="form-control" type="text" ng-model="TopicSubmittedBy" />

            </br>Reviews : </br>
            <input class="form-control" type="text" ng-model="TopicReviews" />
            </br></br>          
            <button class="btn btn-primary"
                    ng-click="addTopics()">
                 Save Topic
            </button>
        </form>
    </div>
</body>
</html>
